<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title>Social media app</title>
    </head>

    <body>
        <h1>Logged in as '{{user.username}}'</h1>
        
        Slogan: {{slogan}}

        <br>
        <br>

        <form action='logout/' method="POST"    >
			{% csrf_token %}
            <input type="submit" value="Logout"/>
        </form>

        <h3>Send new message</h3>
 
        <form id='send' action='send/' method="POST">
            {% csrf_token %}
            <span>To:</span><br/>
            <select name="receiver">
			{% for user in users %}
                <option value="{{user.username}}">{{user.username}}</option>
			{% endfor %}
            </select><br/>
 
            <span>Message:</span><br/>
            <input type="text" name="content"/><br/>
 
            <input type="submit" value="Send"/>
        </form>
        
        <br>
        <br>

        <form id='slogan' action='slogan/' method="POST">
			{% csrf_token %}
            <span>New slogan:</span><br/>
            <input type="text" name="content"/><br/>
 
            <input type="submit" value="Set new slogan"/>
        </form>

        <br>
        <br>

        <form action='sentmessages/{{user.username}}' method="GET">
			{% csrf_token %}
            <input type="submit" value="Show sent messages"/>
        </form>

        <form action='receivedmessages/{{user.username}}' method="GET">
			{% csrf_token %}
            <input type="submit" value="Show received messages"/>
        </form>
    </body>

</html>
